# Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild[Ll]og.*

# NuGet packages
*.nupkg
# Uncomment if necessary, keep tracked NuGet files if applicable
# packages/
# NuGet v3's project.json files produces more ignoreable files
project.lock.json
project.fragment.lock.json
artifacts/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk