# Archivos de Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de Build
bin/
obj/
*.dll
*.exe
*.log
*.pdb


# Archivos generados por la publicación
.publish/
PublishOutput/

# Archivos de configuración del sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de caché del sistema
*.log
ProyectoCasoEstudio_G01T/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/ProyectoCasoEstudio_G01T/v17/.suo
.vs/ProyectoCasoEstudio_G01T/v17/.suo
ProyectoCasoEstudio_G01T/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
